@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-black/30 backdrop-blur-md border border-white/10;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-pink-600;
  }
}
